{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Change your password{% endblock  %}
{% block page_title %}Change your password{% endblock %}


{% block content %}

<div class="row">
    <div class="span6">
        <form class='form-stacked well' action="" method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Change</button>
          </div>
        </form>
    </div>
</div>
{% endblock content %}
